/**
* @file
* define general variables (colors, breakpoints) for theme styles
*/

//colors
$white: #ffffff;
$black: #000000;
$text-black: #565a5c;
$cyan: #00b0a9;
$navy: #103a71;
$preheader-blue: #284e7f;
$interstitial-accent: #002c5f;
$tan: #f7e9cb;
$gray: #575a5d;
$dark-gray: #545454;
$footer-gray: #545454;
$cta-navy: #103a71;
$cta-grey: #565a5c;
$rem-cyan: #00b0a9;
$yellow: #fec52e;
$link-hover: #fec52e;
$isi-link-hover: #f5bc24;
$jumpnav-link-hover: #f5bc24;
$scrollbar-gray: #e4e4e4;
$homepage-bg-green: #ebfcff;
//margins & gutters
$boundary-padding: 10px;
$boundary-padding-desktop: 20px;
$max-content-width: 1200px;
$content-width: 100%;